<section class="image-section" style="background-color: {{ page.hero_color }}">
    {% for image in images %}
        <div class="
            image
            {% if image.width %}
                {% unless image.height %}
                    caption-on-side
                {% endunless %}
                {% if image.height and image.width > image.height %}
                    caption-on-side
                {% endif %}
            {% endif %}
        " style="
            {% if image.height %}grid-row-end: span {{ image.height }};{% endif %}
            {% if image.width %}grid-column-end: span {{ image.width }};{% endif %}
        ">
            <img
                srcset="
                    {{ image.photo | replace: ' ', '%20' | replace: '.jpg', '-resized-400.jpg' }} 400w,
                    {{ image.photo | replace: ' ', '%20' | replace: '.jpg', '-resized-600.jpg' }} 600w,
                    {{ image.photo | replace: ' ', '%20' | replace: '.jpg', '-resized-800.jpg' }} 800w,
                    {{ image.photo | replace: ' ', '%20' }} 1000w
                "
                sizes="
                    {% if image.width == 2 %}
                    (max-width: 420px) 399px,
                    ((min-width: 420px) and (max-width: 1260px)) 599px,
                    ((min-width: 1260px) and (max-width: 1660px)) 799px,
                    999px
                    {% else %}
                    (max-width: 1700px) 399px,
                    ((min-width: 1700px) and (max-width: 2500px)) 599px,
                    ((min-width: 2500px) and (max-width: 3300px)) 799px,
                    999px
                    {% endif %}
                "
                src="{{ image.photo | replace: ' ', '%20' }}">
            {% capture image_content %}{{ image.content | strip | strip_newlines }}{% endcapture %}
            {% if image_content != "" %}
            <div class="image-caption">{{ image.content }}</div>
            {% endif %}
        </div>
    {% endfor %}
</section>
