---
layout: default
---
<style>
    .afdeling-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .afdeling-header {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-end;
    }
    @media (max-width: 1100px) {
        .afdeling-header {
            flex-direction: column;
        }
    }
    .hero-image {
        width: calc(300px + 50%);
        background-position: center;
        background-size: cover;
        background-blend-mode: hard-light;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        min-height: 575px;
        height: 100%;
    }
    @media (max-width: 1100px) {
        .hero-image {
            width: 100%;
            min-height: 0;
            height: 75vh;
        }
    }
    @media (max-width: 600px) {
        .hero-image {
            height: 50vh;
        }
    }
    .afdeling-info {
        box-sizing: border-box;
        width: calc(50% - 300px);
        font-family: 'Krub', sans-serif;
        padding: 15px;
        padding-top: 75px;
        display: flex;
        flex-direction: column;
    }
    .afdeling-info .info-item:not(:last-child) {
        margin-bottom: 15px;
    }
    .afdeling-info .info-label {
        font-weight: bold;
        font-size: 0.75em;
        text-transform: uppercase;
    }
    @media (max-width: 1100px) {
        .afdeling-info {
            width: 100%;
            padding-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            padding-left: 30px;
        }
        .afdeling-info .info-item {
            margin: 0 15px 0 0;
            grid-row: span 1;
            grid-column: span 2;
        }
    }
    @media (max-width: 900px) {
        .afdeling-info {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        .afdeling-info .info-item-leaders {
            grid-row: 1 / 4;
            grid-column: 5 / 8;
        }
    }
    @media (max-width: 650px) {
        .afdeling-info {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        .afdeling-info .info-item-leaders {
            grid-column: 3 / 6;
        }
    }
    @media (max-width: 450px) {
        .afdeling-info {
            padding: 15px 5px;
            font-size: 0.9em;
        }
        .afdeling-info .info-item {
            margin: 0 5px 0 0;
        }
    }
    @media (max-width: 375px) {
        .afdeling-info {
            grid-template-columns: 1fr 1fr;
        }
        .afdeling-info .info-item-leaders {
            grid-column: span 2;
            grid-row: span 1;
        }
    }

    .afdeling-description {
        box-sizing: border-box;
        margin-top: 60px;
        max-width: 600px;
        width: 100%;
        padding: 0 5px;
    }
    @media (max-width: 450px) {
        .afdeling-description {
            font-size: 0.9em;
        }
    }

    .afdeling-description h1 {
        font-size: 2.2em;
    }

    @media (max-width: 650px) {
        .afdeling-description ul, .afdeling-description ol {
            padding-left: 20px;
        }
    }

    .afdeling-extras {
        max-width: 630px;
        box-sizing: border-box;
        background: rgb(220, 220, 220);
        margin-top: 50px;
        font-family: 'Krub', sans-serif;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: -100px;
        z-index: 155;
    }
    .afdeling-extras h1 {
        font-size: 1.2em;
        padding-top: 15px;
    }
    .afdeling-extras ul {
        padding-left: 15px;
    }
    .extra-category {
        padding: 12px 25px;
        min-width: 33%;
        box-sizing: border-box;
    }
</style>
<div class="afdeling-page">
    <div class="afdeling-header">
        <div class="hero-image" style="background-image: url('{{ page.hero_image }}');"></div>
        <div class="afdeling-info">
            {% if page.age_group %}
            <div class="info-item">
                <div class="info-label">Aldersgruppe</div>
                <div class="info-value">{{ page.age_group }}</div>
            </div>
            {% endif %}
            {% if page.meeting_time %}
            <div class="info-item">
                <div class="info-label">Mødetid og -dag</div>
                <div class="info-value">{{ page.meeting_time }}</div>
            </div>
            {% endif %}
            {% if page.contact_email %}
            <div class="info-item">
                <div class="info-label">Email</div>
                <div class="info-value">
                    <a href="mailto:{{ page.contact_email }}">{{ page.contact_email }}</a>
                </div>
            </div>
            {% endif %}
            {% if page.leaders %}
            <div class="info-item info-item-leaders">
                <div class="info-label">Ledere</div>
                {% for leader in page.leaders %}
                <div class="info-value">{{ leader }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <article class="afdeling-description">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </article>
    <div class="afdeling-extras">
        {% if page.files %}
        <div class="extra-category">
            <h1>Dokumenter og filer</h1>
            <ul>
            {% for file in page.files %}
                <li><a href="{{ file.link }}">{{ file.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!--
        {% if page.address_list_code %}
        <div class="extra-category">
            <h1>Andre links</h1>
            <ul>
                <li><a href="https://medlem.dds.dk/member/memberlist/{{ page.address_list_code }}">Adresseliste</a></li>
            </ul>
        </div>
        {% endif %}
        -->
    </div>
</div>
