<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.title %}{{ page.title }} | {% endif %}1. Søborg Gruppe</title>
        <link href="https://fonts.googleapis.com/css?family=Krub|Merriweather" rel="stylesheet"> 
        <link href="/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <a class="nav-button"></a>
        <nav class="site-nav">
            <a href="/">Forside</a>
            <a href="/historie/">Gruppens historie</a>
            <a href="/tidligere-spejder/">Tidligere spejder</a>
            <a href="/gamle-billeder/">Gamle billeder</a>
        </nav>
        <script>
            (function() {
                var siteNav = document.querySelector(".site-nav");
                document.querySelector(".nav-button").addEventListener("click", function(e) {
                    if(this.classList.contains("nav-open")) {
                        this.classList.remove("nav-open");
                        siteNav.classList.remove("shown");
                        return;
                    }
                    
                    this.classList.add("nav-open");
                    siteNav.classList.add("shown");
                });
            })();
        </script>
        {% unless page.hide_default_header or layout.hide_default_header %}
            <header class="small-header">
                <a href="/" class="small-header-logo-link">
                    <img class="small-header-logo" src="/logo.png">
                    <span>1. Søborg Gruppe</span>
                </a>
            </header>
        {% endunless %}
        {{ content }}
        <footer>
            <div>
                <a href="http://soeborggruppe.dk"><img class="footer-logo" src="/logo-white.gif"></a>
            </div>
            <div>
                1. Søborg Gruppe<br>
                Maglestien 9-11<br>
                2860 Søborg<br>
                <a href="mailto:gl@soeborggruppe.dk">gl@soeborggruppe.dk</a>
            </div>
            <div>
                En spejdergruppe i Det Danske Spejderkorps<br>
                Altid kæmpende &ndash; undertiden slagen &ndash; aldrig modløs<br>
                <br>
                <a href="https://dds.dk">dds.dk</a>
                <a href="https://spejder.dk">spejder.dk</a>
            </div>
            <div>
                <a href="https://dds.dk"><img class="footer-logo" src="/dds-logo-white.png"></a>
            </div>
        </footer>
        <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
        <script>
        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
            m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, '//fathom.k8s.deranged.dk/tracker.js', 'fathom');
        fathom('set', 'siteId', 'INWNN');
        fathom('trackPageview');
        </script>
        <!-- / Fathom -->
    </body>
</html>
