---
layout: page
---
<style>
    .newsbox {
        background: #fab1a0;
        padding: 15px;
        font-size: 0.8em;
        margin: 15px 0;
        font-family: 'Krub', sans-serif;
    }
    h2 {
        margin-top: 4em;
        z-index: 5;
    }
    .video-embed {
        position: relative;
        z-index: 2;
        margin: 30px 0 15px;
        width: 100%;
        height: 375px;
        max-height: 100vh;
    }
    .video-embed:before {
        position: absolute;
        left: calc(50% - 50vw);
        top: -45px;
        width: 100vw;
        height: 450px;
        max-height: calc(100vh + 75px);
        z-index: -1;
        background: #ffeaa7;
        content: '';
        transform: skewY(-4deg);
    }
    .video-embed:nth-of-type(5n+3):before {
        background: #a29bfe;
        transform: skewY(2deg);
    }
    .video-embed:nth-of-type(5n+4):before {
        background: #74b9ff;
        transform: skewY(-3deg);
    }
    .video-embed:nth-of-type(5n+5):before {
        background: #81ecec;
        transform: skewY(4deg);
    }
    .video-embed:nth-of-type(5n+6):before {
        background: #55efc4;
        transform: skewY(2deg);
    }
    .video-embed iframe {
        width: 100%;
        height: 100%;
    }
    .transcript {
        position: relative;
        background: #dfe6e9;
        padding: 15px;
        height: 150px;
        overflow: hidden;
        z-index: 3;
        margin: 15px 0;
    }
    .transcript-revealed {
        height: auto;
    }
    .transcript:before {
        content: 'TRANSKRIPTION (samme indhold som videoen)';
        display: block;
        font-family: 'Krub', sans-serif;
        font-size: 0.7em;
        font-weight: 600;
        color: rgba(0,0,0,0.5);
    }
    .transcript:after {
        content: 'Læs mere ⮯';
        background: #dfe6e9;
        font-family: 'Krub', sans-serif;
        font-size: 0.8em;
        font-weight: 600;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 15px;
        cursor: pointer;
        box-shadow: 0 -8px 8px #dfe6e9;
        text-decoration: underline;
    }
    .transcript-revealed:after {
        display: none;
    }
    .solution {
        background: #55efc4;
        font-family: 'Krub', sans-serif;
        padding: 15px;
    }
    .solution a {
        color: #e17055;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid #e17055;
        padding-bottom: 2px;
        transition: border 0.2s, padding 0.2s;
    }
    .solution a:hover {
        border-bottom-width: 3px;
        padding-bottom: 0px;
    }
    .solution ol {
        padding-left: 20px;
    }
    .solution li {
        padding: 5px 0;
    }

    .age-group-selector {
        background: #81ecec;
        font-family: 'Krub', sans-serif;
        padding: 15px;
        margin: 180px 0 30px;
        position: relative;
    }
    .age-group-selector-explanation {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .age-group-selector a {
        display: inline-block;
        color: #e84393;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid #e84393;
        margin: 10px;
        padding-bottom: 2px;
        transition: border 0.2s, padding 0.2s;
    }
    .age-group-selector a:hover {
        border-bottom-width: 3px;
        padding-bottom: 0px;
    }
</style>
{{ content }}
