---
layout: default
---
<article class="theme-story" {% if page.hero_color %}style="border-right-color: {{ page.hero_color }}; border-bottom-color: {{ page.hero_color }};"{% endif %}>
    {% if page.hero_color or page.hero_images %}
        <section class="hero" style="background-color: {{ page.hero_color }};">
            {% for image in page.hero_images %}
                {% assign num_hero_images = page.hero_images | size %}
                <picture>
                    {% if num_hero_images == 3 %}
                        <source media="(min-width: 750px)" srcset="{{ image | replace: ' ', '%20' | replace: '.jpg', '-resized-600.jpg' }}">
                        <source media="(min-width: 1500px)" srcset="{{ image | replace: ' ', '%20' | replace: '.jpg', '-resized-800.jpg' }}">
                        <source media="(min-width: 2000px)" srcset="{{ image | replace: ' ', '%20' }}">
                    {% elsif num_hero_images == 4 %}
                        <source media="(min-width: 1600px)" srcset="{{ image | replace: ' ', '%20' | replace: '.jpg', '-resized-600.jpg' }}">
                        <source media="(min-width: 2400px)" srcset="{{ image | replace: ' ', '%20' | replace: '.jpg', '-resized-800.jpg' }}">
                        <source media="(min-width: 3200px)" srcset="{{ image | replace: ' ', '%20' }}">
                    {% endif %}
                    <img src="{{ image | replace: ' ', '%20' | replace: '.jpg', '-resized-400.jpg' }}">
                </picture>
            {% endfor %}
        </section>
    {% endif %}
    <section class="title-section {% if page.hero_color or page.hero_images %}with-hero{% endif %}" style="background-color: {{ page.hero_color }};">
        <h1>{{ page.title }}</h1>
    </section>
    {{ content }}
</article>
