---
layout: default
---
<article class="theme-story" {% if page.hero_color %}style="border-right-color: {{ page.hero_color }}; border-bottom-color: {{ page.hero_color }};"{% endif %}>
    {% if page.hero_color or page.hero_images %}
        <section class="hero" style="background-color: {{ page.hero_color }};">
            {% for image in page.hero_images %}
                {% assign num_hero_images = page.hero_images | size %}
                <img
                    srcset="
                        {{ image | replace: ' ', '%20' | replace: '.jpg', '-resized-400.jpg' }} 400w,
                        {{ image | replace: ' ', '%20' | replace: '.jpg', '-resized-600.jpg' }} 600w,
                        {{ image | replace: ' ', '%20' | replace: '.jpg', '-resized-800.jpg' }} 800w,
                        {{ image | replace: ' ', '%20' }} 1000w
                    "
                    sizes="
                        {% if num_hero_images == 3 %}
                        (max-width: 750px) 399px,
                        (max-width: 1500x) 599px,
                        (max-width: 2000px) 799px,
                        999px
                        {% elsif num_hero_images == 4 %}
                        (max-width: 1600px) 399px,
                        (max-width: 2400px) 599px,
                        (max-width: 3200px) 799px,
                        999px
                        {% endif %}
                    "
                    src="{{ image | replace: ' ', '%20' }}">
            {% endfor %}
        </section>
    {% endif %}
    <section class="title-section {% if page.hero_color or page.hero_images %}with-hero{% endif %}" style="background-color: {{ page.hero_color }};">
        <h1>{{ page.title }}</h1>
    </section>
    {{ content }}
</article>
